<h1>Contact avec LPSIO</h1>

<p>Bonjour {{ contact.nom }} {{ contact.prenom }}</p>
<p>Vous recevez ce courriel car vous nous avez contacté depuis le formulaire de contact.</p>
<p>Votre courriel sera traité dans les meilleurs délais.</p>

<h2>Votre message :</h2>
{{ contact.message }}