# To get started with security, check out the documentation:
# http://symfony.com/doc/current/security.html
security:

    role_hierarchy:
        ROLE_ADMIN: ROLE_USER
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    encoders:
        LPSIO\PlateformeBundle\Entity\Utilisateur: plaintext

    providers:
        main:
            entity:
                class: LPSIO\PlateformeBundle\Entity\Utilisateur
                property: courriel

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            pattern: ^/
            anonymous: true
            provider: main

            form_login:
                login_path: /espace-membre/login
                check_path: /espace-membre/login_check

            logout:
                path: /espace-membre/logout
                target: /espace-membre/login