lpsio_plateforme_homepage:
    path:     /
    defaults: { _controller: LPSIOPlateformeBundle:Default:index }

lpsio_plateforme_contact:
    path:    /contact
    defaults: {_controller: LPSIOPlateformeBundle:Default:contact }

lpsio_plateforme_about:
    path:    /a-propos
    defaults: {_controller: LPSIOPlateformeBundle:Default:about }

lpsio_plateforme_inscription:
    path:    /inscription
    defaults: {_controller:LPSIOPlateformeBundle:Default:inscription }

lpsio_plateforme_offre:
    path:    /offres/{idOffre}
    defaults: {_controller:LPSIOPlateformeBundle:Default:offre }