lpsio_plateforme_homepage:
    path:     /
    defaults: { _controller: LPSIOPlateformeBundle:Default:index }

lpsio_plateforme_contact:
    path:    /contact
    defaults: {_controller: LPSIOPlateformeBundle:Default:contact }

lpsio_plateforme_about:
    path:    /a-propos
    defaults: {_controller: LPSIOPlateformeBundle:Default:about }

lpsio_plateforme_inscription:
    path:    /inscription
    defaults: {_controller:LPSIOPlateformeBundle:Default:inscription }

lpsio_plateforme_offre:
    path:    /offre/{idOffre}
    defaults: {_controller:LPSIOPlateformeBundle:Default:offre }
    requirements:
        idoffre: \d+

lpsio_plateforme_offres:
    path:    /offres
    defaults: {_controller:LPSIOPlateformeBundle:Default:offres }

lpsio_plateforme_mes_informations:
    path:    /espace-membre/mes-informations
    defaults: {_controller:LPSIOPlateformeBundle:Default:informations }

lpsio_plateforme_mes_alertes:
    path:    /espace-membre/mes-alertes
    defaults: {_controller:LPSIOPlateformeBundle:Default:alertes }

lpsio_plateforme_login:
    path:    /espace-membre/login
    defaults: {_controller:LPSIOPlateformeBundle:Default:login }

lpsio_plateforme_administration_creer_offre:
    path:    /administration/creer-offre
    defaults: {_controller:LPSIOPlateformeBundle:Default:creerOffre }

lpsio_plateforme_administration_modifier_offre:
    path:    /administration/modifier-offre/{idOffre}
    defaults: {_controller:LPSIOPlateformeBundle:Default:modifierOffre }

lpsio_plateforme_administration_visualiser_utilisateurs:
    path:    /administration/visualiser-utilisateurs
    defaults: {_controller:LPSIOPlateformeBundle:Default:visualiserUtilisateurs }

lpsio_plateforme_administration_visualiser_offres:
    path:    /administration/visualiser-offres
    defaults: {_controller:LPSIOPlateformeBundle:Default:visualiserOffres }

lpsio_plateforme_administration_supprimer_offre:
    path:    /administration/supprimer-offre/{idOffre}
    defaults: {_controller:LPSIOPlateformeBundle:Default:supprimerOffre }
    requirements:
        idoffre: \d+
lpsio_plateforme_administration_modifier_utilisateur:
    path:    /administration/modifier-utilisateur/{idUtilisateur}
    defaults: {_controller:LPSIOPlateformeBundle:Default:modifierUtilisateur }